body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

h1, h2 {
    color: #4CAF50;
}

h4 {
    font-weight: normal;
    line-height: 1.5;
}

header {
    background-color: #4CAF50;
    text-align: center;
    padding: 20px;
}

.profile-image img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#2 img {
    width: 150px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    object-fit: cover;
}

form {
    margin-top: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

a {
    color: #4CAF50;
    text-decoration: none;
}



footer {
    text-align: center;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
